/* import font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* banner style start */
.banner-container{
    max-width: 1440px;
    height: 600px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.banner-inner{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    gap: 20px;
    /* padding-bottom: 50px; */
}
.main-section{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-blend-mode: overlay;
    padding: 30px 40px;
    border-radius: 10px;

}
.main-section-2{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-blend-mode: overlay;
    padding: 30px 40px;
    border-radius: 10px;
}
.main-section-3{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-blend-mode: overlay;
    padding: 30px 40px;
    border-radius: 10px;
}
#contact-btn{
    color: white;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background: rgb(13, 19, 33);
    direction:  center;
    font-size: 15px;
    font-weight: 600;
}
.paragraph{
    color: #5f636e;
    font-size: 15px;
}

/* start "Why web development" part */
.main-part{
    width: 1000px;
    height: 1300px;
    margin: 0 auto;
    border-radius: 15px;
    /* background-color: white; */
    background-color: rgba(13, 19, 33, 0.02);
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.one-part{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;

}
.section-one{
    width: 50%;
    height: 240px;
    display: flex;
    flex-direction: column;
}
.section-two{
    width: 50%;
    height: 240px;
}
.space{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 160px;
    padding-right: 160px;
    text-align: center;
}
.same{
    color: rgba(13, 19, 33, 0.7);
}
.with-image{
    padding-top: 15px;
    padding-bottom: 20px;
    text-align:justify;
}
.head3{
    text-align:justify;
}
.btn-learn{
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight:600;
    color: rgba(13, 19, 33, 0.717);
    border-radius: none;
    background-color: white;
    border: 1.5px solid black;
    
}
/* Start Third Section */
.third-section{
    margin: 30px;
    text-align: center;
    height: auto;
}

/* added a video */
.video{
    display: flex;
align-items: center;
justify-content: center;
}

/* Target section start */
.skills{
  
    
}

.text-center{
    /* text-align:center; */
}

/* skill styles */
.skill-container{
    display: flex;
    gap: 20px;
    padding-top: 60px;
}
.skill{
    padding: 20px;
    text-align: left;
    /* box-shadow: 1px 1px 1px 1px ;
    border-radius: 5px; */
    padding-bottom: 20px;
    margin-bottom: 0 auto;
}
.skill-title{
    margin-bottom: 20px;
}
.img{
    margin-bottom: 20px;
}
.skill-desc{
    margin-bottom: 20px;
}
.box-1{
    background-color:rgba(255, 76, 30, 0.05);
    border-radius: 5px;
}
.box-2{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 5px;
}
.box-3{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 5px;
}
.lrn-more{
    font-weight: bold;
    font-size:small;
    text-decoration:underline;
    color: black;
}

/* second background start */
.second-background{
    height: 280px;
    width: 950px;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    color: white;
}

.text{
    text-align:center;
    border-radius: 8px;
    border: none;
    
}

/* start Footer */
.footer-container{
    max-width: 1440px;
    height: 80px;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 10px;

}
.footer-sctions{
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content:space-between;
    padding-top: 20px;
    align-items:center ;

}
.social{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}
.paragraph-bold{
    font-weight:600 ;
}